[submodule "samples/The-Queen-s-Footsteps"]
	path = samples/The-Queen-s-Footsteps
	url = https://github.com/MGProduction/The-Queen-s-Footsteps.git
[submodule "samples/Nesterin-Trail"]
	path = samples/Nesterin-Trail
	url = https://github.com/MGProduction/Nesterin-Trail.git
[submodule "legacy/StoryTllrC64"]
	path = legacy/StoryTllrC64
	url = https://github.com/MGProduction/StoryTllrC64.git
