# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

*.d64

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

bin/*.iobj
bin/*.ipdb
bin/*.pdb
bin/*.adm
bin/*.int
bin/*.lbl
bin/*.map

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
player-win/build
player-win/.vs
modules.order
Module.symvers
Mkfile.old
dkms.conf
png_x
extra_x
vga_img
img_x
temp.h
font.h
storytllr64_data.h
c1541.exe
player-C64-emu/
script_compiler/